@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary - #4a536b */
/* Secondary - #aed6dc */


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #333f60;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aed6dc;
  border-radius: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-apparance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #333f60;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #333f60;
  overflow: hidden;
  border-radius: .25em;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #333f60;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

.select:hover::after {
  color: #aed6dc;
}